body{
  scroll-behavior: smooth;
  margin: 0px;
}
#logo{
    width: 150px;
    display: inline;
    float: left;
}
header h1{
    display: inline;
    float: left;
}
#left_navbar{
  float: left;
}
/*header styling*/
ul{
  height: 31px;
  text-align: center;
  width: 1506px;
  background: bisque;
  padding: 15px;
}
ul li{
  display: inline;
  float: left;
  margin-right: 25px;
}
ul li a{
  font-size: 26px;
  color: #970909;
  text-decoration: none;
  font-weight: 900;
}
#home{
  margin-left: 290px;
}
ul li:hover{
  border-bottom: 5px solid brown
}

header{
  display: block;
  background: linear-gradient(45deg, #bc2424, transparent);
  height: 165px;
}
header h1{
  margin-top: 31px;
  margin-left: 52px;
  color: #ffffaf;
}
header h3{
  margin-top: 73px;
  margin-left: 234px;
  font-size: 26px;
  color: #7ce810;
}
#logout{
  position: absolute;
  top: 111px;
  right: 93px;
  width: 155px;
  height: 40px;
  font-size: 20px;
  background: brown;
  color: beige;
}
#body_content{
  top: 80px;
  left: 301px;
}

.students, .staffs{
    border: 2px solid #970909;
    margin-left: auto;
    margin-right: auto;
}
table,th,td{
  border: 2px solid #bc2424;
  padding: 15px;
  text-align: center;
}
.students{  
  font-size: 19px;
}
#del,#fill,#fill1{
  height: 35px;
  width: 120px;
  cursor: pointer;
}
#fill,#fill1{
  background-color: #f5f5f5;
  border: 3px solid green;
  color: #008000;
}
#del{
  color: #ff0000;
  border: 2px solid #ff0000;
  background-color: #f5f5f5;
}
#body_content h1{
  text-align: center;
  font-size: 30px;
}
header #head{
  position: absolute;
  top: 25px;
  right: 96px;
}
header #user{
  position: absolute;
  top: 55px;
  right: 125px;
  color: #970909;
}
.staffs{
  margin-left: 580px;
  padding: 20px;
}
td a{
  text-decoration: none;
}

#search_form{
  position: absolute;
  top: 248px;
  right: 221px;
  font-size: 20px;
}
#search_form input[type='submit']{
  font-size: 20px;
}
#search_form input[type='text']{
  font-size: 22px;
}
button[name='clear_result']{
  position: absolute;
  top: 254px;
  right: 88px;
}