body{
    scroll-behavior: smooth;
    background: antiquewhite;
}
header{
    height: 142px;
    background: brown;
    display: block;
    color: #a0fff8;
}
header img{
    width: 150px;
}
header img,header h1{
    display: inline;
    float: left;
}
header h1{
    margin-top: 45px;
    margin-left: 58px;
    color: #faebd7;
}
#body_content{
    margin-top: 50px;
}
nav{
    margin-left: 356px;
}
li a{
    text-decoration: none;
    color: #faebd7;
}
nav li:hover{
    transform: translateY(-7px);
    text-shadow: 0px 20px 11px black;
} 

nav li{
    display: inline;
    float: left;
    list-style: none;
    font-size: 23px;
    padding: 15px;
    margin-top: 35px;    
}
li a{
    text-decoration: none;
    color: #faebd7;
}
#about h3{
    margin-top: 50px ;
}
#main{
    width: 50%;
}
#firstli{
    margin-left: 40px;
}

footer li a{
    color: #ff0000;
}

#social,#contact,#address,#image img {
    display: inline;
    float: left;
    font-size: 20px;
    margin-right: 55px;
}



#image img{
    width: 252px;
    margin-right: 70px;
}
#contact,#address{
    border-left: 5px solid #75796e;
    height: 200px;
    padding-left: 94px;
}
footer h1{
    text-align: center;
    margin-top:55px;
}
section{
    padding-top: 35px;
}
#address a{
    text-decoration: none;
    color: #ff0000;
}


#image,#social,#contact,#address{
    margin-bottom: 35px;
}

form{
    padding: 25px;
    box-shadow: 0px 0px 50px 5px #a52a2a;
    width: 400px;
    margin-top: 50px;
    margin-left: 530px;
    height: 173px;
}
#adminform h1{
    text-align: center;
}
form label{
    font-size: 25px;
}
form input{

    height: 32px;
    width: 225px;
}
input[type='password']{
    margin-top: 10px;
    margin-left: 15px;
}
input[type='submit']{
    margin-top: 20px;
    margin-left: 84px;
    background: brown;
    color: wheat;
    font-size: 22px;
}
#adminlogin{
    margin-left: 235px;
    margin-top: 100px;

}
#imagecontainer img{
    height: 492px;
    width: 472px;
    float: left;
}
#adminform h1{
    margin-right: 230px;
}
form input{
    font-size: 16px;
}


#adminform h3{
    position: relative;
    left: 175px;
}