body{
  scroll-behavior: smooth;
  margin: 0px;
}
#logo{
    width: 150px;
    display: inline;
    float: left;
}
header h1{
    display: inline;
    float: left;
}
#left_navbar{
  float: left;
}
/*header styling*/
ul{
  height: 31px;
  text-align: center;
  width: 1506px;
  background: bisque;
  padding: 15px;
}
ul li{
  display: inline;
  float: left;
  margin-right: 25px;
}
ul li a{
  font-size: 26px;
  color: #970909;
  text-decoration: none;
  font-weight: 900;
}
#home{
  margin-left: 290px;
}
ul li:hover{
  border-bottom: 5px solid brown
}

header{
  display: block;
  background: linear-gradient(45deg, #bc2424, transparent);
  height: 165px;
}
header h1{
  margin-top: 31px;
  margin-left: 52px;
  color: #ffffaf;
}
header h3{
  margin-top: 73px;
  margin-left: 234px;
  font-size: 26px;
  color: #7ce810;
}
#logout{
  position: absolute;
  top: 111px;
  right: 93px;
  width: 155px;
  height: 40px;
  font-size: 20px;
  background: brown;
  color: beige;
}
#body_content{
  top: 80px;
  left: 301px;
}
#application,#application th, #application td{
border: 5px solid #c57283;
padding: 10px;
text-align: center;
}
#application{  
font-size: 20px;
margin-left: 15px;
}
header #head{
position: absolute;
top: 25px;
right: 96px;
}
header #user{
position: absolute;
top: 55px;
right: 125px;
color: #970909;
}
input[name='accept']{
  font-size: 17px;
  background: green;
  color: white;
}
input[name='reject']{
  font-size: 19px;
  background: red;
  color: white;
  margin-top: 10px;
}
